
<div class="jumbotron">
  <div class="container">
    <h1>Olá!</h1>
    <p>Este é o sistema Minhas Senhas, nele você poderá cadastrar suas senhas, e utilizá-las quando quiser!  ;)</p>

  </div>
</div>

  <div class="container">
<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Cadastre uma nova senha</legend>
    </div>

    <div class="control-group">
      <!-- Description -->
      <label class="control-label"  for="description">Descrição da senha</label>
      <div class="controls">
        <input type="text" id="description" name="description" required="required" placeholder="" class="input-xlarge">
        <p class="help-block">Digite a descrição da senha <small> * Obrigatório </small> </p>
      </div>
    </div>

    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="url">URL da senha</label>
      <div class="controls">
        <input type="text" id="url" name="url" placeholder="" class="input-xlarge">
        <p class="help-block">Digite a URL do site ou deixe em branco</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="user">Usuário</label>
      <div class="controls">
        <input type="text" id="user" name="user" required="required" placeholder="" class="input-xlarge">
        <p class="help-block">Digite o usuário  <small> * Obrigatório </small> </p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Senha</label>
      <div class="controls">
        <input type="password" id="password" name="password" required="required" placeholder="" class="input-xlarge">
        <p class="help-block">Digite a senha <small> * Obrigatório </small></p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Confirme a senha</label>
      <div class="controls">
        <input type="password" id="password_confirm" required="required" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Por favor, confirme a senha <small> * Obrigatório </small> </p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Registrar senha</button>
      </div>
    </div>
  </fieldset>
</form>
  </div>
